
* {
    box-sizing: border-box;
}

body {
    font-family: Trebuchet, Arial, sans-serif;
    min-width: 650px;
    overflow: auto;
    background: #ffffff;
}

input {
    height: 25px;
}

input[readonly] {
    cursor: pointer;
}

input[type=checkbox] {
    display: block;
    height: 14px;
}

div, span {
    font-size: 12px;
}

#title {
    background-image: url("../../../icons/icon-48x48.png");
    background-repeat: no-repeat;
    float: left;
    padding-left: 35px;
    margin-top: 5px;
    margin-left: 5px;
}

#title h1 {
    margin-left: 20px;
    font-style: italic;
    color: #007182;
    margin-top: 10px;
}

#helpAndOptions {
    margin-top: 16px;
    float: right;
    position: relative;
}

#optionsPopOver {
    display: none;
    width: 180px;
    padding: 6px;
    background: #EEEEEE;
    position: absolute;
    top: 0px;
    z-index: 50;
    left: -192px;
    border-radius: 5px;
    border: 2px solid #999999;
}

#optionsPopOver .optionRow {
    float: left;
    width: 100%;
    margin-bottom: 2px;
}

#optionsPopOver .optionText {
    float: left;
    margin-top: 2px;
}

#optionsPopOver .optionCheckbox {
    float: right;
}

#helpAndOptions .optionsBtnContainer {
    float: left;
    margin-right: 10px;
}

#helpAndOptions .helpBtnContainer {
    float: left;
}

#domainDefs {
    margin-top: 30px;
}

#addDomain {
    margin-top: 24px;
}


#addRuleDropdown {
    position: absolute;
    background: #ffffff;
    padding: 5px 8px;
    z-index: 99;
    width: 150px;
    border-radius: 5px;
    border: 2px solid #999999;
    border-top: 0;
    overflow: hidden;
    display: none;
}

#addRuleDropdown.reverse {
    border-top: 2px solid #999999;
    border-bottom: 0;
}

#addRuleDropdown .btn {
    width: 100%;
    margin: 3px 0;
}

#addRuleDropdown span {
    font-size: 18px;
}

#helpOverlay {
    background-color: #ffffff;
    position: fixed;
    top: 64px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    overflow: auto;
}

#helpContent {
    width: 100%;
    height: calc(100% - 50px);
    font-size: 14px;
    padding: 10px;
    overflow: auto;
}

#helpContent table {
    width: 100%;
    border-collapse: collapse;
}

#helpContent .rarrow {
    width: 50px;
    text-align: center;
}

#helpContent h1 {
    margin-top: 0;
}

#helpFooter {
    border-top: 1px solid #000000;
    text-align: right;
    padding: 7px 16px;
    width: 100%;
    height: 50px;
}

#findInEditor {
    margin-right: 20px;
}

#fileSaveBtn {
    margin-right: 20px;
}

#editorOverlay {
    flex-direction: column;
}

#editorOptions {
    width: 100%;
    border-bottom: 1px solid #000000;
}

#editor {
    width: 100%;
    flex: 1;
    font-size: 12px;
}

#editorFooter {
    border-top: 1px solid #000000;
    text-align: right;
    padding: 7px 16px;
    width: 100%;
    height: 50px;
}

#headerRuleOverlay {
    flex-direction: column;
}

#headerRuleOptions {
    width: 100%;
    border-bottom: 1px solid #000000;
    display: flex;
    padding-bottom: 10px;
}

#headerRuleOptions .titleContainer {
    padding: 20px 0 0 12px;
    flex: 1 1 200px;
    max-height: 70px;
    overflow-y: auto;
}

#headerRuleOptions .presetsContainer {
    text-align: center;
    padding: 17px 0 0 0;
    flex: 1 1 200px;
}

#headerRequestRulesContainer, #headerResponseRulesContainer {
    margin-bottom: 10px;
}

#headerRuleFooter {
    border-top: 1px solid #000000;
    text-align: right;
    padding: 7px 16px;
    width: 100%;
    height: 50px;
}

.overlay {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}

.toast {
    position: absolute;
    background: rgba(255, 220, 150, 0.85);
    padding: 6px;
    top: 20px;
    left: 50%;
    font-size: 14px;
    transform: translate(-50%, 0%);
    border-radius: 5px;
    display: none;
}

.editorHeader {
    display: flex;
}

.editorHeader .titleContainer {
    padding: 20px 0 0 12px;
    flex: 1 1 200px;
    max-height: 70px;
    overflow-y: auto;
}

.editorHeader .settingsContainer {
    text-align: center;
    padding: 17px 0 0 0;
    flex: 1 1 200px;
}

.editorHeader .beautifyContainer {
    padding: 10px 16px 0 0;
    flex: 1 1 200px;
    text-align: right;
}

.headerRequestRules {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #000000;
}

.headerResponseRules {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.loadContainer {
    padding: 4px 0 2px 6px;
}

.loadContainer select {
    max-width: 100%;
    cursor: pointer;
}

.domainContainer {
    margin-bottom: 40px;
    transition: opacity 0.5s;
}

.header-inputs {
    margin-left: 10px;
    float: left;
}

.domainHeader {
    display: flex;
    border-bottom: 1px solid #999999;
    padding-bottom: 4px;
}

.domainHeader input {
    width: 100%;
}

.domainHeader .domainText {
    flex: 0 0 55px;
    padding-top: 8px;
    text-align: center;
}

.domainHeader .domain {
    flex: 1 1 auto;
    margin: 4px;
}

.domainHeader .addRule {
    flex: 0 0 88px;
    text-align: center;
}

.domainHeader .switch {
    flex: 0 0 90px;
    text-align: center;
}

.domainHeader .delete {
    flex: 0 0 36px;
    text-align: right;
}

.overrideRules {
    margin: 10px 0 0 40px;
}

.handle {
    flex: 0 0 25px;
    padding-top: 10px;
    padding-left: 8px;
    cursor: ns-resize;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    margin-bottom: 5px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.sortable-placeholder {
    height: 37px;
    width: 100%;
}

.ruleContainer {
    display: flex;
    margin: 4px 0;
    opacity: 1;
    transition: opacity 0.5s;
}

.ruleContainer input {
    width: 100%;
}

.ruleContainer .match {
    flex: 0 0 50px;
    padding-top: 10px;
    text-align: center;
}

.ruleContainer .rule {
    flex: 1 1 auto;
    margin: 6px;
}

.ruleContainer .arrow {
    flex: 0 0 24px;
    padding-top: 10px;
    text-align: center;
}

.ruleContainer .injectText {
    flex: 0 0 60px;
    padding-top: 10px;
    text-align: center;
}

.ruleContainer .typeText {
    flex: 0 0 55px;
    padding-top: 10px;
    text-align: center;
}

.ruleContainer .fileType {
    flex: 0 0 75px;
    padding-top: 8px;
    text-align: center;
}

.ruleContainer .injectLocation {
    flex: 0 0 75px;
    padding-top: 8px;
    text-align: center;
}

.ruleContainer .edit {
    flex: 0 0 80px;
    text-align: center;
}

.ruleContainer .switch {
    flex: 0 0 90px;
    text-align: center;
}

.ruleContainer .delete {
    flex: 0 0 36px;
    text-align: right;
}

.ruleContainer .onoffswitch {
    display: inline-block;
}

.headerRule .headerRuleInput {
    cursor: pointer;
}

.headerRule .ruleType {
    flex: 0 0 50px;
    padding-top: 10px;
    text-align: center;
}

.headerRule .edit {
    flex: 0 0 100px;
    text-align: center;
}

.headerEditorRule input[disabled] {
    background: #eeeeee;
}

.headerEditorRule .operation {
    padding-top: 8px;
    text-align: center;
}

.headerEditorRule .headerLabel {
    padding: 10px 6px 0 14px;
}

.headerEditorRule .valueLabel {
    padding: 10px 6px 0 6px;
}

.headerEditorRule .headerInputContainer {
    flex: 1 1 100px;
    padding: 5px 6px 0 6px;
}

.disabled {
    opacity: 0.7;
}

.fileInput {
    display: none;
}

.suggestBox {
    display: none;
    position: absolute;
    background: #ffffff;
    border: 1px solid #aaaaaa;
    border-top: 0;
    max-height: 100px;
    overflow: auto;
    z-index: 200;
}

.suggestTable {
    border-collapse: collapse;
}

.suggestOption {
    white-space: nowrap;
    padding: 4px 8px 4px 6px;
    cursor: pointer;
}

.btn {
    border: 2px solid #999999;
    border-radius: 5px;
    background-color: #EEEEEE;
    cursor: pointer;
    outline-width: 0;
    height: 34px;
}

.sym-btn {
    padding: 0;
    font-size: 28px;
    width: 34px;
    line-height: 30px;
}

.btn:hover {
    background-color: #DDDDDD;
}

.blue-hl {
    background-color: #A1D7E6;
}

.allowTextBreaks {
    word-break: break-word;
}

.ace_search {
    max-width: 330px !important;
}

.bold {
    font-weight: bold;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clearfix {
    clear: both;
}
